.additional-products {
  overflow: hidden;
}

.additional-products__wrapper {
  width: @wrapper-mobile;
  margin: auto;

  @media (min-width: @width-tablet) {
    width: @wrapper-tablet;
  }

  @media (min-width: @width-desktop) {
    width: @wrapper-desktop;
  }
}

.additional-products__card-wrapper {
  @media (min-width: @width-desktop) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
  }
}

.additional-products__card {
  &:last-of-type {
    margin-bottom: 35px;

    @media (min-width: @width-tablet) {
      margin-bottom: 69px;
    }

    @media (min-width: @width-desktop) {
      margin-bottom: 0;
    }
  }
}

.additional-products__title {
  position: relative;
  margin: 0;
  margin-bottom: 36px;
  font-family: @accent-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @black;

  span {
    position: relative;
    z-index: 2;
    display: block;
    width: max-content;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: @white;
  }

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: -244px;
    right: -244px;
    z-index: 1;
    height: 2px;
    background-color: @primary;
  }

  @media (min-width: @width-tablet) {
    margin-bottom: 81px;
    font-size: 36px;
    line-height: 36px;

    span {
      margin: 0;
      padding-left: 36px;
      padding-right: 36px;
    }

    &::before {
      top: 23px;
      left: -500px;
      right: -500px;
    }
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 80px;

    span {
      margin-left: -40px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

.additional-products__banner {
  position: relative;
  display: block;
  min-height: 288px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: @white;
  background-color: @primary;
  background-image: url("../img/catalog-banner/catalog-banner-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/catalog-banner/catalog-banner-mobile@2x.jpg");
  }

  &:hover {
    opacity: 80%;
  }

  &:focus {
    outline: 4px solid rgba(104, 183, 56, 0.5);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 4px solid rgba(104, 183, 56, 0.5);
  }

  &:active {
    opacity: 60%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 59px;
    left: 101px;
    display: block;
    width: 80px;
    height: 80px;
    background-image: url("../img/sprite.svg#icon-gift");
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
  }

  @media (min-width: @width-tablet) {
    min-height: 200px;
    background-image: url("../img/catalog-banner/catalog-banner-tablet.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/catalog-banner/catalog-banner-tablet@2x.jpg");
    }

    &::before {
      top: 57px;
      left: 78px;
    }
  }

  @media (min-width: @width-desktop) {
    display: block;
    width: 244px;
    background-image: url("../img/catalog-banner/catalog-banner-desktop.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/catalog-banner/catalog-banner-desktop@2x.jpg");
    }

    &::before {
      top: 56px;
      left: 83px;
    }
  }
}

.additional-products__caption {
  display: block;
  padding: 20px;
  padding-top: 187px;

  @media (min-width: @width-tablet) {
    padding-top: 71px;
    padding-left: 422px;
    text-align: left;
  }

  @media (min-width: @width-desktop) {
    padding: 38px;
    padding-top: 186px;
    text-align: center;
  }
}
