.additional-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
  padding-top: 14px;
  padding-bottom: 17px;
  border-top: 1px solid @border-medium;

  &:last-of-type {
    border-bottom: 1px solid @border-medium;
  }

  @media (min-width: @width-tablet) {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    column-gap: 50px;
    row-gap: 19px;
    padding: 26px 38px 27px;
    border: 1px solid @border-medium;
    border-bottom: none;
  }

  @media (min-width: @width-desktop) {
    grid-template-columns: 1fr 1fr max-content 244px;
    align-items: center;
    gap: 38px;
    padding: 16px 0 15px;
    border-left: none;
    border-right: none;
  }
}

.additional-card__title {
  grid-column: 1 / -1;
  margin: 0;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: @caption-dark;

  @media (min-width: @width-tablet) {
    grid-column: 1 / 2;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @width-desktop) {
    min-width: 288px;
  }
}

.additional-card__amount,
.additional-card__price {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: @text-dark;

  @media (min-width: @width-tablet) {
    font-size: 16px;
    line-height: 26px;
    text-align: right;
  }

  @media (min-width: @width-desktop) {
    padding-top: 6px;
  }
}

.additional-card__price {
  text-align: right;
}

.additional-card__amount {
  @media (min-width: @width-desktop) {
    text-align: left;
  }
}

.additional-card__button {
  grid-column: 1 / -1;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @width-desktop) {
    grid-column: 4 / -1;
  }
}
