.additional-products {
  overflow: hidden;
}

.additional-products__wrapper {
  width: @wrapper-mobile;
  margin: auto;

  @media (min-width: @width-tablet) {
    width: @wrapper-tablet;
  }

  @media (min-width: @width-desktop) {
    width: @wrapper-desktop;
  }
}

.additional-products__card-wrapper {
  @media (min-width: @width-desktop) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
  }
}

.additional-products__card {
  &:last-of-type {
    margin-bottom: 36px;

    @media (min-width: @width-desktop) {
      margin-bottom: 0;
    }
  }
}

.additional-products__title {
  position: relative;
  margin: 0;
  margin-bottom: 36px;
  font-family: @accent-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: @black;

  span {
    position: relative;
    z-index: 2;
    display: block;
    width: max-content;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: @white;
  }

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: -244px;
    right: -244px;
    z-index: 1;
    height: 2px;
    background-color: @primary;
  }

  @media (min-width: @width-tablet) {
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;

    span {
      margin-left: -40px;
      padding-left: 40px;
      padding-right: 40px;
    }

    &::before {
      top: 20px;
      left: -335px;
      right: -335px;
    }
  }
}

.additional-products__banner {
  display: block;
  min-height: 288px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: @white;
  background-color: @primary;
  background-image: url("../img/catalog-banner/catalog-banner-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/catalog-banner/catalog-banner-mobile@2x.jpg");
  }

  &:hover {
    opacity: 80%;
  }

  &:focus {
    outline: 4px solid rgba(104, 183, 56, 0.5);
  }

  &:active {
    opacity: 60%;
  }

  &::before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 28px;
    background-image: url("../img/icon-gift.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: @width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    min-height: 200px;
    background-image: url("../img/catalog-banner/catalog-banner-tablet.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/catalog-banner/catalog-banner-tablet@2x.jpg");
    }

    &::before {
      margin: 0;
      padding: 60px 76px;
    }
  }

  @media (min-width: @width-desktop) {
    display: block;
    width: 244px;
    background-image: url("../img/catalog-banner/catalog-banner-desktop.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/catalog-banner/catalog-banner-desktop@2x.jpg");
    }

    &::before {
      padding: 56px 82px 46px;
    }
  }
}

.additional-products__caption {
  display: block;
  padding: 20px;

  @media (min-width: @width-tablet) {
    padding-left: 38px;
    text-align: left;
  }

  @media (min-width: @width-desktop) {
    padding: 38px;
    padding-top: 0;
    text-align: center;
  }
}
