.categories-card {
  padding: 22px;
  background-color: @bg-light;

  @media (min-width: @width-tablet) {
    padding: 52px;
  }

  @media (min-width: @width-desktop) {
    width: 570px;
  }
}

.categories-card__subtitle {
  margin: 0;
  font-family: @accent-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @width-tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}

.categories-card__text {
  margin: 22px 0;
  padding-bottom: 22px;
  border-bottom: 1px solid @border-light;

  @media (min-width: @width-tablet) {
    border-bottom: none;
  }
}

.categories-card__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;

  &::after {
    content: url("../img/icon-arrow-small.svg");
    height: 32px;
    width: 32px;
  }

  &:hover {
    &::after {
      content: url("../img/icon-arrow-big.svg");
    }
  }

  &:active {
    opacity: 30%;

    &::after {
      content: url("../img/icon-arrow-big.svg");
    }
  }

  @media (min-width: @width-tablet) {
    gap: 28px;
    font-size: 20px;
    line-height: 20px;
  }
}
