.categories__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: @wrapper-mobile;
  margin: auto;

  @media (min-width: @width-tablet) {
<<<<<<< Updated upstream
    gap: 30px;
=======
    gap: 27px;
>>>>>>> Stashed changes
    width: @wrapper-tablet;
  }

  @media (min-width: @width-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    width: @wrapper-desktop;
  }
}
