.categories-card {
  position: relative;
  padding: 20px;
  padding-bottom: 14px;
  background-color: @bg-light;

  @media (min-width: @width-tablet) {
    padding: 52px;
    padding-top: 85px;
    padding-bottom: 54px;
  }

  @media (min-width: @width-desktop) {
    padding-top: 77px;
    padding-bottom: 56px;
  }

  &--slimming {
    &::before {
      content: "";
      position: absolute;
      top: 22px;
      left: 20px;
      width: 53px;
      height: 50px;
      background-image: url("../img/cat-slimming.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @media (min-width: @width-tablet) {
        top: 89px;
        left: 446px;
        width: 200px;
        height: 211px;
      }

      @media (min-width: @width-desktop) {
        top: 40px;
        left: 52px;
        width: 100px;
        height: 106px;
      }
    }
  }

  &--weight-gain {
    &::before {
      content: "";
      position: absolute;
      top: 24px;
      left: 12px;
      width: 67px;
      height: 50px;
      background-image: url("../img/cat-weight-gain.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @media (min-width: @width-tablet) {
        top: 97px;
        left: 412px;
        width: 268px;
        height: 200px;
      }

      @media (min-width: @width-desktop) {
        top: 46px;
        left: 32px;
        width: 134px;
        height: 100px;
      }
    }
  }
}

.categories-card__title {
  margin: 0;
  margin-bottom: 32px;
  padding-top: 8px;
  padding-left: 70px;
  font-family: @accent-font;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @width-tablet) {
    width: 340px;
    margin-bottom: 26px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 74px;
    padding-top: 0;
    padding-left: 162px;
    width: auto;
  }
}

.categories-card__text {
  margin: 0;
  margin-bottom: 12px;
  padding-bottom: 22px;
  border-bottom: 1px solid @border-light;

  @media (min-width: @width-tablet) {
    width: 340px;
    margin-bottom: 50px;
    padding: 0;
    border-bottom: none;
  }

  @media (min-width: @width-desktop) {
    width: auto;
    margin-bottom: 25px;
  }
}

.categories-card__button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;

  &::after {
    content: url("../img/sprite.svg#icon-arrow-small");
    height: 32px;
    width: 32px;
  }

  &:hover {
    &::after {
      content: url("../img/sprite.svg#icon-arrow-big");
    }
  }

  &:focus {
    border-radius: 4px;
    outline: 4px solid rgba(104, 183, 56, 0.5);
    outline-offset: 4px;
  }

  &:focus:not(:focus-visible) {
    border-radius: 0;
    outline: none;
    outline-offset: 0;
  }

  &:focus-visible {
    border-radius: 4px;
    outline: 4px solid rgba(104, 183, 56, 0.5);
    outline-offset: 4px;
  }

  &:active {
    opacity: 30%;

    &::after {
      content: url("../img/sprite.svg#icon-arrow-big");
    }
  }

  @media (min-width: @width-tablet) {
    gap: 28px;
    font-size: 20px;
    line-height: 20px;
  }
}
