.categories__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: @wrapper-mobile;
  margin: auto;

  @media (min-width: @width-tablet) {
    gap: 26px;
    width: @wrapper-tablet;
  }

  @media (min-width: @width-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    width: @wrapper-desktop;
  }
}
