.compare-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compare-slider__button {
  padding: 4px 0;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    text-decoration-style: solid;
    text-decoration-color: @black;
  }

  &:focus {
    border-radius: 4px;
    outline: 4px solid rgba(104, 183, 56, 0.5);
    text-underline-offset: 4px;
  }

  &:focus:not(:focus-visible) {
    border-radius: 0;
    outline: none;
    text-underline-offset: 0;
  }

  &:focus-visible {
    border-radius: 4px;
    outline: 4px solid rgba(104, 183, 56, 0.5);
    text-underline-offset: 4px;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: @width-tablet) {
    font-size: 20px;
    line-height: 30px;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: @border-medium;
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
  }
}

.compare-slider__illustration-wrapper {
  position: relative;
  width: 280px;
  height: 232px;
  margin: 0 auto;
  margin-bottom: 16px;

  @media (min-width: @width-tablet) {
    width: 592px;
    height: 511px;
    margin-bottom: 40px;
  }
}

.compare-slider__illustration {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    display: block;
    width: 280px;
    height: 232px;
    max-width: none;
  }

  &--before {
    left: 0;
    width: 100%;

    img {
      left: 0;
    }
  }

  &--after {
    right: 0;
    z-index: 1;
    width: 0%;

    img {
      right: 0;
    }
  }

  @media (min-width: @width-tablet) {
    img {
      width: 592px;
      height: 511px;
    }

    &--before {
      width: 50%;

      img {
        left: -9px;
      }
    }

    &--after {
      width: 50%;

      img {
        right: 2px;
      }
    }
  }
}


.compare-slider__toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (min-width: @width-tablet) {
    gap: 24px;
  }
}

.compare-slider__bar {
  display: flex;
  align-items: center;
  width: 86px;
  height: 14px;
  background-color: @white;
  border: 1px solid @border-medium;
  border-radius: 6px;

  @media (min-width: @width-tablet) {
    width: 426px;
    height: 6px;
    background-color: @border-light;
    border: none;
  }
}

.compare-slider__toggle {
  width: 36px;
  height: 6px;
  margin: 4px;
  background-color: @primary;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  }

  &:focus {
    outline: 4px solid rgba(104, 183, 56, 0.5);
  }

  &:active {
    border: 1px solid @primary;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  }


  @media (min-width: @width-tablet) {
    position: relative;
    width: 34px;
    height: 34px;
    margin: 0;
    background-color: @white;
    border: 1px solid @border-medium;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-4px) translateY(-4px);
      width: 8px;
      height: 8px;
      background-color: @primary;
      border-radius: 50%;
    }
  }
}
