.contacts {
  &--inner {
    background-color: @bg-light;
  }

  &--index {
    background-color: @white;
  }
}

.contacts__map {
  height: 362px;

  @media (min-width: @width-tablet) {
    height: 400px;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  width: @wrapper-mobile;
  margin: auto;
  padding-top: 28px;
  padding-bottom: 25px;

  @media (min-width: @width-tablet) {
    grid-template-columns: min-content 1fr;
    gap: 296px;
    width: 628px;
    padding: 61px 70px 60px;
  }

  @media (min-width: @width-desktop) {
    width: 406px;
    gap: 95px;
    margin: 0;
    padding: 60px 80px 60px;
    background-color: @white;
  }
}

.contacts__caption {
  margin: 0;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @width-tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  font-style: inherit;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: @width-tablet) {
    font-size: 16px;
    line-height: 16px;
    text-align: right;

    span {
      display: block;
      padding-top: 28px;
    }
  }

  @media (min-width: @width-desktop) {
    text-align: left;
    line-height: 18px;

    span {
      padding-top: 22px;
    }
  }
}
