.contacts {
  &--inner {
    background-color: @bg-light;
  }

  &--index {
    background-color: @white;
  }
}

.contacts__map {
  height: 362px;

  @media (min-width: @width-tablet) {
    height: 400px;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: @wrapper-mobile;
  margin: auto;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: @width-tablet) {
    width: @wrapper-tablet;
    padding: 66px 42px 62px;
  }

  @media (min-width: @width-desktop) {
    width: 406px;
    margin: 0;
    padding: 66px 76px;
    background-color: @white;
  }
}


.contacts__caption {
  margin: 0;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @width-tablet) {
    font-size: 20px;
    line-height: 22px;
  }
}

.contacts__address {
  font-style: inherit;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: @width-tablet) {
    font-size: 16px;
    line-height: 22px;
    text-align: right;
  }
}
