.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @width-tablet) {
    gap: 20px;
  }

  &:hover {
    .copyright__icon {
      fill: @primary;
    }
  }

  &:focus {
    border-radius: 4px;
    outline: 4px solid rgba(104, 183, 56, 0.5);
    outline-offset: 8px;
  }

  &:active {
    opacity: 30%;

    .copyright__icon {
      fill: @primary;
    }
  }
}

.copyright__link {
  min-width: max-content;
  padding-top: 6px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: @text-dark;
}

.copyright__icon {
  fill: @icon-medium;
}
