.example {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: @bg-medium;

  @media (min-width: @width-tablet) {
    position: relative;
    min-height: 1036px;
    padding-top: 44px;
    padding-bottom: 0;
    background: linear-gradient(transparent 619px, @bg-medium 619px);
    border-top: 1px solid @border-light;
  }

  @media (min-width: @width-desktop) {
    min-height: 598px;
    background: linear-gradient(transparent 180px, @bg-light 180px);
    border-top: none;
  }
}

.example__wrapper {
  width: @wrapper-mobile;
  margin: auto;

  @media (min-width: @width-tablet) {
    width: @wrapper-tablet;
  }

  @media (min-width: @width-desktop) {
    position: relative;
    width: @wrapper-desktop;
  }
}

.example__title {
  margin-bottom: 44px;

  @media (min-width: @width-tablet) {
    margin-bottom: 64px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 146px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: @width-tablet) {
    margin-bottom: 52px;
  }

  @media (min-width: @width-desktop) {
    width: 436px;
    margin-bottom: 68px;
  }
}

.example__factoids {
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: @width-desktop) {
    margin-bottom: 58px;
  }
}

.example__factoids-wrapper {
  @media (min-width: @width-tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  @media (min-width: @width-desktop) {
    flex-direction: column;
    width: 366px;
    margin-bottom: 0;
  }
}

.example__caption {
  display: block;
  margin-bottom: 40px;
  font-family: @accent-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: @black;

  br {
    display: none;
  }

  @media (min-width: @width-tablet) {
    min-width: max-content;
    padding-top: 8px;
    font-size: 20px;
    line-height: 28px;
    text-align: right;

    br {
      display: inline;
    }
  }

  @media (min-width: @width-desktop) {
    width: 366px;
    text-align: left;
    padding-top: 0;

    br {
      display: none;
    }

    span {
      display: inline-block;
      margin-left: 60px;
    }
  }
}

.example__compare-slider {
  @media (min-width: @width-desktop) {
    position: absolute;
    bottom: 37px;
    right: -3px;
  }
}
