.page-main {
  margin: 0;
  flex-grow: 1;
}

.page-main__main-header {
  margin-bottom: 20px;
}

.page-main__advantages {
  margin-bottom: 48px;
}

.page-main__additional-products {
  margin-bottom: 36px;
}

.page-main__program-selection {
  margin-bottom: 32px;
}
