.page-footer {
  padding-top: 0;
  background-color: @bg-light;
}

.page-footer__location-wrapper {
  @media (min-width: @width-desktop) {
    display: grid;
    grid-template-columns: 1fr 1220px 1fr;
    grid-template-rows: 94px min-content 104px;
  }
}

.page-footer__contacts {
  @media (min-width: @width-desktop) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 570px;
    z-index: 1;
  }
}

.page-footer__wrapper {
  width: @wrapper-mobile;
  margin: auto;

  @media (min-width: @width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 130px;
    width: @wrapper-tablet;
    margin: 56px auto;
  }

  @media (min-width: @width-desktop) {
    width: @wrapper-desktop;
    gap: 380px;
  }
}

.page-footer__map-wrapper {
  height: 362px;

  @media (min-width: @width-tablet) {
    height: 400px;
  }

  @media (min-width: @width-desktop) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.page-footer__map {
  margin: 0;
  border: none;
}

.page-footer__logo {
  display: flex;
  padding-top: 38px;
  padding-bottom: 32px;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: @width-tablet) {
    display: block;
    padding: 0;
  }
}

.page-footer__logo-img {
  margin: auto;
}

.page-footer__social {
  margin-bottom: 22px;

  @media (min-width: @width-tablet) {
    margin-bottom: 0;
  }
}

.page-footer__copyright {
  margin-bottom: 22px;

  @media (min-width: @width-tablet) {
    margin-bottom: 0;
  }
}
