.page-header {
  position: relative;

  @media (min-width: @width-tablet) {
    border-bottom: none;
  }

  @media (min-width: @width-desktop) {
    background: transparent;
  }
}

.page-header__wrapper {
  @media (min-width: @width-tablet) {
    display: flex;
    align-items: top;
    padding: 20px;
  }

  @media (min-width: @width-desktop) {
    width: 1220px;
    margin: 0 auto;
  }
}

.page-header__main-nav {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;

  @media (min-width: @width-tablet) {
    position: static;
    width: auto;
    margin-left: 20px;
  }
}


.page-header__logo {
  display: block;
  padding: 10px 20px 17px;

  img {
    display: block;
    width: 191px; // размеры для примера, смотри в макете
    height: 38px;
  }

  @media (min-width: @width-tablet) {
    margin-right: auto;
    padding: 0;
  }
}

.page-header__toggle {
  position: absolute;
  top: 20px; // размеры для примера, смотри в макете
  right: 20px;
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: transparent;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;

  &--closed {
    background-image: url("../img/icon-cross.svg");
  }

  @media (min-width: @width-tablet) {
    display: none;
  }
}
