.page-main {
  flex-grow: 1;
  background-color: @white;
  overflow: hidden;

  @media (min-width: @width-desktop) {
    margin-top: -120px;
  }
}

.page-main__wrapper {
  width: @wrapper-mobile;
  margin: auto;

  @media (min-width: @width-tablet) {
    width: @wrapper-tablet;
  }

  @media (min-width: @width-desktop) {
    width: @wrapper-desktop;
  }
}

.page-main__categories {
  @media (min-width: @width-tablet) {
    margin-bottom: 24px;
  }
}

.page-main__main-header {
  margin-bottom: 20px;

  @media (min-width: @width-desktop) {
    margin-bottom: 82px;
  }
}

.page-main__advantages {
  margin-bottom: 48px;

  @media (min-width: @width-tablet) {
    margin-bottom: 60px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 70px;
  }
}

.page-main__additional-products {
  margin-bottom: 36px;

  @media (min-width: @width-tablet) {
    margin-bottom: 76px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 86px;
  }
}

.page-main__program-selection {
  margin-bottom: 32px;

  @media (min-width: @width-tablet) {
    margin-bottom: 72px;
  }
}

.page-main__product-catalog {
  margin: 0;

  @media (min-width: @width-tablet) {
    margin-bottom: 68px;
  }
}
