.product-card {
  padding-top: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid @border-light;
}

.product-card__title {
  margin: 0;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  a {
    color: @caption-dark;
  }
}
