.product-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 18px;
  padding-top: 20px;
  padding-bottom: 25px;

  @media (max-width: @width-mobile-only) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -244px;
      right: -244px;
      height: 1px;
      background-color: @bg-light-hover;
    }
  }

  @media (min-width: @width-tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 40px;
    padding-top: 36px;
    background: linear-gradient(transparent 104px, @bg-light 104px);
  }
}

.product-card__product-image {
  display: block;
  grid-row: 1 / 3;

  &:hover {
    opacity: 80%;
  }

  &:focus {
    border-radius: 4px;
    outline: 4px solid rgba(104, 183, 56, 0.5);
  }

  &:focus:not(:focus-visible) {
    border-radius: 0;
    outline: none;
  }

  &:focus-visible {
    border-radius: 4px;
    outline: 4px solid rgba(104, 183, 56, 0.5);
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: @width-tablet) {
    margin-bottom: 34px;
  }
}

.product-card__title {
  margin: 0;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  a {
    color: @caption-dark;

    &:hover {
      opacity: 80%;
    }

    &:focus {
      outline: none;
      text-decoration: underline;
      text-decoration-color: @black;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
    }

    &:active {
      opacity: 60%;
    }
  }

  @media (min-width: @width-tablet) {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-card__details {
  @media (min-width: @width-tablet) {
    align-self: stretch;
    margin-bottom: 32px;
  }
}

.product-card__button {
  grid-column: 1 / -1;

  @media (min-width: @width-tablet) {
    align-self: stretch;
    margin-top: auto;
  }
}
