.product-catalog {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 24px;
}

.product-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-catalog__show-more {
  margin-top: 24px;
}
