.social {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid @border-light;
  border-bottom: 1px solid @border-light;

  @media (min-width: @width-tablet) {
    gap: 22px;
    padding: 0;
    border: none;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @media (min-width: @width-tablet) {
    gap: 22px;
  }
}

.social__link {
  display: block;

  &:hover {
    .social__icon {
      fill: @primary;
    }
  }

  &:focus {
    border-radius: 4px;
    outline: 4px solid rgba(104, 183, 56, 0.5);
  }

  &:focus:not(:focus-visible) {
    border-radius: 0;
    outline: none;
  }

  &:focus-visible {
    border-radius: 4px;
    outline: 4px solid rgba(104, 183, 56, 0.5);
  }

  &:active {
    .social__icon {
      fill: @primary;
      opacity: 30%;
    }
  }
}

.social__icon {
  fill: @icon-medium;
  padding: 4px;
}
