.social {
  display: flex;
  padding-top: 18px;
  padding-bottom: 14px;
  border-top: 1px solid @border-light;
  border-bottom: 1px solid @border-light;

  @media (min-width: @width-tablet) {
    gap: 22px;
    padding: 0;
    border: none;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @media (min-width: @width-tablet) {
    gap: 17px;
  }
}

.social__link {
  display: block;
  height: 30px;

  @media (min-width: @width-tablet) {
    height: 32px;
  }

  &:hover {
    .social__icon {
      fill: @primary;
    }
  }

  &:focus {
    border-radius: 4px;
    outline: 4px solid rgba(104, 183, 56, 0.5);
  }

  &:focus:not(:focus-visible) {
    border-radius: 0;
    outline: none;
  }

  &:focus-visible {
    border-radius: 4px;
    outline: 4px solid rgba(104, 183, 56, 0.5);
  }

  &:active {
    .social__icon {
      fill: @primary;
      opacity: 30%;
    }
  }
}

.social__icon {
  fill: @icon-medium;
  padding: 4px;

  @media (min-width: @width-tablet) {
    padding: 0;
    width: 32px;
    height: 32px;
  }
}
