.textarea {
  padding: 14px 12px;
  font-family: @accent-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: @text-dark;
  border: 1px solid @border-input;
  resize: none;

  &:hover {
    border: 1px solid @border-medium;
  }

  &:active {
    margin: -1px;
    border: 2px solid @text-dark;
  }

  &--error {
    margin: -1px;
    border: 2px solid @status-error;
  }

  @media (min-width: @width-tablet) {
    font-size: 20px;
    line-height: 28px;
  }
}
