.text-field {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 14px;
  align-items: center;

  &:active {
    .text-field__input {
      margin: -1px;
      border: 2px solid @text-dark;
    }

    &::after {
      background-color: @primary;
    }
  }

  &--error {
    .text-field__input {
      margin: -1px;
      border: 2px solid @status-error;
    }

    &::after {
      background-color: @status-error;
    }
  }

  @media (min-width: @width-tablet) {
    gap: 18px;
  }

  &--e-mail {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 13px;
      right: 14px;
      width: 20px;
      height: 20px;
      mask-image: url("../img/sprite.svg#icon-email");
      mask-repeat: no-repeat;
      mask-size: 20px 20px;
      mask-position: center;
      background-color: @black;

      @media (min-width: @width-tablet) {
        top: 14px;
        right: 17px;
      }
    }
  }

  &--phone {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 13px;
      right: 12px;
      width: 20px;
      height: 20px;
      mask-image: url("../img/sprite.svg#icon-phone");
      mask-repeat: no-repeat;
      mask-size: 20px 20px;
      mask-position: center;
      background-color: @black;

      @media (min-width: @width-tablet) {
        top: 14px;
        right: 15px;
      }
    }
  }

  &--area {
    display: block;

    .text-field__input {
      width: calc(100% - 27px);
      height: 130px;
      padding: 10px 13px;
      resize: none;

      @media (min-width: @width-tablet) {
        width: calc(100% - 39px);
        height: 150px;
        padding: 10px 19px;
      }
    }
  }
}

.text-field__label,
.text-field__input {
  font-family: @accent-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: @text-dark;

  @media (min-width: @width-tablet) {
    font-size: 20px;
    line-height: 29px;
  }
}

.text-field__label {
  min-width: max-content;
}

.text-field__input {
  padding: 9px 14px;
  border: 1px solid @border-input;

  &:focus {
    outline: 4px solid rgba(104, 183, 56, 0.5);
  }

  &:hover {
    border: 1px solid @border-medium;
  }

  @media (min-width: @width-tablet) {
    padding: 10px 16px 11px;
  }
}
