.text-field {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 14px;
  align-items: center;

  &:hover {
    .text-field__input {
      border: 1px solid @border-medium;
    }
  }

  &:active {
    .text-field__input {
      margin: -1px;
      border: 2px solid @text-dark;
    }
  }

  &--error {
    .text-field__input {
      margin: -1px;
      border: 2px solid @status-error;
    }
  }
}

.text-field__label,
.text-field__input {
  font-family: @accent-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: @text-dark;

  @media (min-width: @width-tablet) {
    font-size: 20px;
    line-height: 28px;
  }
}

.text-field__label {
  min-width: max-content;
}

.text-field__input {
  padding: 14px 16px;
  border: 1px solid @border-input;
}
