@white: #ffffff;
@black: #000000;
@primary: #68b738;
@primary-hover: #5eaa2f;
@bg-light: #f2f2f2;
@bg-medium: #eaeaea;
@border-light: #d9d9d9;
@border-medium: #cdcdcd;
@text-dark: #444444;
@caption-dark: #222222;
@status-error: #ff8282;

@accent-font: "Oswald", "Arial", sans-serif;
@basic-font: "Arial", "Helvetica", sans-serif;

@width-tablet: 768px;
@width-desktop: 1300px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@wrapper-mobile: 280px;
@wrapper-tablet: 708px;
@wrapper-desktop: 1220px;
